<div class="row">
  <main class="col-md-12">
    <br>
    <h2>{{viewData.student.firstName}} {{viewData.student.lastName}} - Student: {{viewData.student.studentNum}}</h2>
    <hr />
    <form method="post" action="/student/update">
      <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}" />
      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name:</label>
              <input class="form-control" name="firstName" type="text" value="{{viewData.student.firstName}}" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name:</label>
              <input class="form-control" name="lastName" type="text" value="{{viewData.student.lastName}}" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" name="email" type="email" value="{{viewData.student.email}}" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (Street):</label>
              <input class="form-control" name="addressStreet" type="text" value="{{viewData.student.addressStreet}}" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (City):</label>
              <input class="form-control" name="addressCity" type="text" value="{{viewData.student.addressCity}}" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (Province):</label>
              <input class="form-control" name="addressProvince" type="text" value="{{viewData.student.addressProvince}}" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>TA:</label>
          <input type="checkbox" name="TA" {{#if viewData.student.TA}}checked{{/if}} />
        </div>
        <div class="form-group">
          <label>Status:</label><br>
          <input type="radio" name="status" value="Full Time" {{#equal viewData.student.status "Full Time"}}checked{{/equal}}> Full Time
          <input type="radio" name="status" value="Part Time" {{#equal viewData.student.status "Part Time"}}checked{{/equal}}> Part Time
        </div>
    {{!-- {{#each courses}}        
      {{#equal this.courseId 2}}
      <p>{{this.courseDescription}}</p>
   
      {{/equal}}              
      <p>haha   {{viewData.student.course}}</p>
            {{/each}}
             --}}

              

        <div class="form-group">
          <label>Course:</label>
          {{!-- <select class="form-control" name="course"> --}}
            {{!-- <option value="{{this.viewData.student.TA}}" {{#equal this.viewData.student.TA viewData.student.course}}selected=selected{{/equal}}>{{this.courseDescription}}</option> --}}
              {{!-- <option value="{{this.courseId}}" {{#equal this.courseId viewData.student.course}}selected=selected{{/equal}}>{{viewData.student.course}}</option>               --}}
            {{!-- {{#each courses}}        
              <option value="{{this.courseId}}" {{#equal this.courseId viewData.student.course}}selected=selected{{/equal}}>{{this.courseDescription}}</option>
            {{/each}} --}}
            
          {{!-- </select> --}}
          {{#if viewData.courses}}
          <select class="form-control" name="course" id="course">
          <option value="">Select Course</option>
          {{#each viewData.courses}}
          <option value="{{courseId}}" {{#if selected}} selected {{/if}} >{{courseCode}} </option>
          {{/each}}
          </select>
          {{else}}
          <div>No Courses</div>
          {{/if}}
        </div>
      </fieldset>
      <hr />
      <input type="submit" class="btn btn-primary float-right" value="Update Student" /><br /><br /><br />
    </form>
  </main>
</div>