<div class="row"><div class="col-md-12"><br>
<a href="/students/add" class="btn btn-success float-right">Add New Student</a>
<h2>Students</h2><hr />
			<table class="table-responsive">
				<thead>
				  <tr>
					<th>Student Num</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Status</th>
					<th>Course ID</th>
					<th>Delete Student</th>
				  </tr>
				</thead>
				<tbody>	{{#each students}}
				  <tr>				
                    <td>{{this.studentNum}}</td>
                    {{!-- <td></td> --}}
                    <td><a href="/student/{{this.studentNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                    <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                    <td>{{this.addressStreet}} {{this.addressCity}} {{this.addressProvince}}</td>
                    <td>{{this.status}}</td>
                    {{!-- <td>{{this.course}}</td> --}}
                    <td><a href=" /students?course={{this.course}}">{{this.course}}</a></td>
					<td>
						<a href="/student/delete/{{this.studentNum}}" class="btn btn-danger">Remove</a>
					</td>
                    {{else}}
                    <td>No Students !! </td>
				  </tr>  {{/each}}				  
				</tbody>
			  </table>		
</div></div>